[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.10"

[scripts]
lint-autopep8 = "autopep8 --recursive --diff src"
lint-mypy = "mypy src"
lint-editorconfig = "ec"
start = "python -m src"

[packages]
coconut-ai = "==1.0.0"

[dev-packages]
autopep8 = "==2.0.4"
editorconfig-checker = "==2.7.3"
mypy = "==1.8.0"
setuptools = "*"
